/* General */
* {
    margin: 0;
    font-family: "Raleway", sans-serif;
}

:root {
    --main-color: #0065fc;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #deebff;
}

.fa-solid {
    color: var(--main-color);
}

/* Desktop First */
body {
    display: flex;
    width: 100%;
    height: max-content;
    padding-bottom: 0;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: auto;
}

a {
    text-decoration: none;
    color: #000;
}

.section-title {
    margin: 0;
    font-size: 22px;
    color: #000;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.title-filter {
    margin: 0;
    font-size: 18px;
    color: #000;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Header */
header {
    width: 100%;
    height: 79px;
    display: flex;
    padding-right: 0px;
    align-items: flex-start;
    justify-content: space-between;
    align-self: stretch;
}

.logo {
    display: flex;
    padding: 30px 50px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.logo img {
    width: 61.09px;
    height: 19px;
}

nav {
    width: 100%;
    display: flex;
    padding-right: 0px;
    align-items: flex-start;
    justify-content: flex-end;    align-self: stretch;
}

nav ul {
    display: flex;
    height: 36px;
    padding: 0px 25px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 68px;
    margin-bottom: 44px;
    margin-top: 0px;
}

nav ul li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

nav ul li a {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

nav ul li a.active {
    color: var(--blue, #0065FC);
}

nav ul li a:hover {
    border-top: 2px solid #0065fc;
    padding-top: 14px;
}

/* Main */
main {
    display: flex;
    padding: 0px 50px;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    align-self: stretch;
}

/* Info-Group */
.info-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    align-self: stretch;
}

/* Search-bar */
.search-bar form {
    display: flex;
    height: 49px;
    align-items: center;
    gap: 24px;
    border-radius: 15px;
    border: 1px solid var(--grey, #F2F2F2);
    background: var(--white, #FFF);
}

.search-bar form label {
    width: 50px;
    height: 49px;
    background: #F2F2F2;
    border-radius: 15px 0 0 15px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar form label i {
    color: #000;
}

.search-bar form input::placeholder,
.search-bar form input[type="text"] {
    border: none;
    outline: none;
    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    flex-grow: 1;
}

.search-bar form button {
    display: flex;
    padding: 15px 16px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid var(--blue, #0065FC);
    background: var(--blue, #0065FC);
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.search-bar form button i {
    width: 0;
    height: 0;
    visibility: hidden;
}

/* Filter-bar */
.filter-bar {
    display: flex;
    height: auto;
    align-items: center;
    gap: 15px;
    color: #000;
    text-align: center;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex: 1 0 100%;
}

.filter-bar button {
    display: inline-flex;
    height: 50px;
    align-items: center;
    padding: 4px 19px;
    gap: 10px;
    border-radius: 25px;
    border: 2px solid var(--grey-tint-2, #D9D9D9);
    color: var(--black, #000);
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.filter-bar button i {
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-bar button:hover {
    background: var(--blue-light, #DEEBFF);
}

.info-bar i {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid var(--grey-tint-2, #D9D9D9);
}

.info-bar {
    display: flex;
    height: 24px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

/* Card */
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    transition: 0.3s;
}

.card:hover {
    /* Shadow/Card */
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.card-subtitle {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

/* Hebergements And Populaires */
.hebergements-and-populaires {
    display: flex;
    align-items: center;
    gap: 40px;
    align-self: stretch;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
    align-self: stretch;
    padding: 30px;
    gap: 30px;
    flex: 1 0 auto;
}

/* Hebergements */
.hebergements {
    background-color: var(--main-bg-color);
}

.hebergements-card {
    display: grid;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;
    grid-template-columns: 30% 30% 30%;
    gap: 30px;
}

.hebergements-card .card {
    display: flex;
    width: 100%;
    padding: 0 0 15px 0;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    border: 5px solid var(--white, #FFF);
}

.hebergements-card .card img {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0 0;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.hebergements-card .card-content {
    display: flex;
    padding: 0px 15px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.hebergements-card .card-txt {
    display: flex;
    padding: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.hebergements-card .card-title,
.hebergements-card .card-subtitle,
.hebergements-card .card-rating {
    margin: 0;
    align-self: stretch;
}

.hebergements .title-filter {
    display: flex;
    align-items: flex-start;
}

/* Populaires */
.populaires {
    width: 24%;
    background-color: var(--main-bg-color);
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
    justify-content: space-between;
}

.populaires-cards .card {
    display: flex;
    width: 100%;
    height: 146px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.populaires-cards img {
    width: 35%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 100%;
    display: flex;
    padding: 10px 5px 5px 15px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    flex: 1 0 0;
}

.populaires-cards .card-txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    flex: 1 0 0;
    align-self: stretch;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

/* Activités */
.activites {
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
}

.activites-card {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
}

.activites-card .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    border-radius: 20px;
    padding: 0;
    align-self: stretch;
}

.activites-card img {
    width: 100%;
    height: 380px;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 20px 20px 0px 0px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.activites-card .card-content {
    display: flex;
    height: 100%;
    padding: 20px 19px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.activites-card .card-title {
    margin: 0;
}

/* Footer */
footer {
    display: flex;
    margin: 0 50px 0 50px;
    align-items: flex-start;
    align-self: stretch;
    background: var(--grey, #F2F2F2);
}

footer ul {
    margin: 0;
    list-style: none;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    flex: 1 0 0;
    align-self: stretch;
}

/* Media queries */
/* Medium devices (Large Desketop, more than 1440px) */
@media (min-width: 1441px) {
    body {
        width: 1440px;
        height: max-content;
    }
}
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    body {
        width: 100%;
        height: max-content;
    }

    /* Header */
    nav ul {
        padding: 0px 50px;
    }

    /* Info-Group */
    .filter-bar {
        flex-direction: column;
    }

    .filter-bar .title-filter {
        display: inline-flex;
        width: 100%;
        flex: 1 0 100%;
        align-self: stretch;
        align-items: flex-start;
    }

    .filter-bar button {
        font-size: 16px;
    }

    /* Hebergements And Populaires */
    .hebergements-and-populaires {
        flex-direction: column;
        gap: 50px;
        justify-content: center;
        align-items: flex-start;
    }

    /* Hebergements */
    .hebergements {
        width: 100%;
    }

    /* Populaires */
    .populaires {
        width: 100%;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }

    .populaires-cards .card {
        height: 146px;
        flex: 1 0 0;
    }

    /* Footer */
    footer {
        gap: 30px;
    }
}

/* Small devices (phones, less than 768px and more than 320px) */
@media (max-width: 768px) and (min-width: 320px) {
    body {
        width: 100%;
        height: max-content;
        gap: 30px;
        justify-items: stretch;
        align-items: flex-start;
    }

    /* Header */
    header {
        flex-direction: column;
        align-items: center;
        gap: 0;
        height: auto;
    }

    .logo {
        align-items: center;
        padding: 30px;
    }

    nav {
        width: 100%;
        align-items: center;
        gap: 15px;
        align-self: stretch;
    }

    nav ul {
        width: 100%;
        justify-content: space-around;
        align-items: flex-start;
        margin-bottom: 0px;
        padding: 0%;
        gap: 0;
    }

    nav ul li {
        width: 100%;
    }

    nav ul li a {
        width: 100%;
    }
    
    nav ul li a:hover {
        border-top: none;
        padding-top: 0;
        border-bottom: 2px solid #0065fc;
        padding-bottom: 15px;
    }

    /* Main */
    main {
        padding: 0px;
    }

    /* Info */
    .info-group {
        padding: 0px 20px;
    }

    .search-bar {
        align-self: stretch;
    }

    .search-bar form {
        gap: 0;
    }

    .search-bar form button {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    .search-bar form button p {
        display: none;
    }

    .search-bar form button i {
        visibility: visible;
        color: #FFFFFF;
        width: 17px;
        height: 17px;
    }

    .filter-bar {
        flex-direction: column;
        align-items: flex-start;
    }

    .filter-bar .title-filter {
        display: flex;
        width: 100%;
        align-items: flex-start;
    }

    .button-container {
        flex-direction: row;
        gap: 20px;
        flex: 1 1;
    }

    .filter-bar button {
        font-size: 14px;
        display: flex;
        height: 42px;
        padding: 4px 19px;
        align-items: center;
        gap: 10px;
        flex: 1 1 40%;
    }

    .info-bar {
        width: 100%;
    }

    /* Hebergements And Populaires */
    .hebergements-and-populaires {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: flex-start;
        gap: 15px;
    }

    .hebergements-and-populaires section {
        border-radius: 0px;
    }

    /* Populaires */
    .populaires {
        width: 100%;
        margin-top: 0;
        padding: 30px 20px;
    }

    .populaires-cards {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        align-self: stretch;
    }

    .populaires-cards .card {
        width: 100%;
        flex: auto;
    }

    .populaires-cards img {
        height: 100%;
        flex: 1 0 0;
    }

    /* Hebergements */
    .hebergements {
        gap: 15px;
        padding: 20px 20px;
        background-color: #FFFFFF;
    }

    .hebergements-card {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 15px;
    }

    /* Activités */
    .activites-card {
        flex-direction: column;
        gap: 15px;
    }

    .activites-card .card {
        height: 200px;
        align-self: stretch;
    }

    .activites-card img {
        height: 141px;
        align-self: stretch;
    }

    /* Footer */
    footer {
        margin: 0;
        padding: 30px;
        flex-direction: column;
        gap: 50px;
    }

    footer ul {
        padding: 0;
    }
}