/****** General ***********/
* {
    margin: 0;
    font-family: "Raleway", sans-serif;
}

:root {
    --main-color: #0065fc;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #deebff;
}

.fa-solid {
    color: var(--main-color);
}

/* Desktop*/

/****** Body styles ***********/
body {
    display: flex;
    width: 1440px;
    padding-bottom: 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: #000;
}

.section-title {
    margin: 0;
    font-size: 22px;
    color: #000;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.title-filter {
    color: #000;
    text-align: center;
    /* Title/Filter */
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/****** Header styles ***********/
header {
    width: 100%;
    height: 79px;
    display: flex;
    padding-right: 0px;
    justify-content: center;
    align-items: flex-start;
    gap: 950px;
    align-self: stretch;
}

.logo {
    display: flex;
    padding: 30px 50px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.logo img {
    width: 61.09px;
    height: 19px;
}

nav {
    width: 100%;
}

nav ul {
    display: flex;
    width: 279px;
    height: 35px;
    padding: 0px 25px;
    flex-direction: row;
    align-items: center;
    gap: 68px;
    margin-bottom: 44px;
    margin-top: 0px;
}

nav ul li {
    list-style: none;
    width: 244px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 68px;
}

nav ul li a {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

nav ul li a.active {
    color: var(--blue, #0065FC);
    text-align: center;
}


nav ul li a:hover {
    border-top: 2px solid #0065fc;
    display: inline-block;
    padding-top: 14px;
}

main {
    display: flex;
    padding: 0px 50px;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    align-self: stretch;
}

/****** InfoGroup styles ***********/
.info-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    align-self: stretch;
}

/* Headline*/
.headLine {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

/* Search-bar */
.searchBar form {
    display: flex;
    height: 49px;
    align-items: center;
    gap: 24px;
    border-radius: 15px;
    border: 1px solid var(--grey, #F2F2F2);
    background: var(--white, #FFF);
}

.searchBar form label {
    width: 50px;
    height: 49px;
    background: #F2F2F2;
    border-radius: 15px 0 0 15px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBar form label i {
    color: #000;
}

.searchBar form input::placeholder,
.searchBar form input[type="text"] {
    border: none;
    outline: none;
    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    flex-grow: 1;
}

.searchBar form button {
    height: 49px;
    padding: 15px 16px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid var(--blue, #0065FC);
    background: var(--blue, #0065FC);
    color: #FFFFFF;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.searchBar form button i {
    visibility: hidden;
}

/* FilterBar */
.filterBar {
    display: flex;
    height: auto;
    align-items: center;
    gap: 15px;
    color: #000;
    text-align: center;
}

.filterBar button {
    display: inline-flex;
    height: 42px;
    padding: 4px 19px;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    border: 2px solid var(--grey-tint-2, #D9D9D9);
    color: var(--black, #000);
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.filterBar button i {
    width: 22px;
    height: 22px;
}

.filterBar button:hover {
    background: var(--blue-light, #DEEBFF);
}

.infoBar {
    display: flex;
    height: 24px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    transition: 0.3s;
}

.card:hover {
    /* Shadow/Card */
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    align-items: center;
    gap: 40px;
    align-self: stretch;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    align-self: stretch;
}

/****** Hebergements ***********/
.hebergements {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    flex: 1 0 0;
}

.hebergements .title-filter {
    text-decoration: none;
    margin: 0;
}

.hebergements-card {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
}

.hebergements-card .card {
    display: flex;
    width: 243px;
    padding:0 0 15px 0;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    border: 5px solid var(--white, #FFF);
}

.hebergements-card .card img {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0 0;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.hebergements-card .card-content {
    display: flex;
    padding: 0px 15px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.hebergements-card .card-txt {
    display: flex;
    padding: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.hebergements-card .card-title,
.hebergements-card .card-subtitle,
.hebergements-card .card-rating {
    margin: 0;
    align-self: stretch;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

/****** Activités ***********/
.activites {
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
}

.activites .section-title {
    display: flex;
    height: 30.019px;
    align-self: stretch;
}

.activites-card {
    height: 439px;
    display: flex;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
}

.activites-card .card {
    height: 439px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex: 1 0 0;
    border-radius: 20px;
    padding: 0;
}

.activites-card img {
    width: 100%;
    height: 380px;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 20px 20px 0px 0px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.activites-card .card-content {
    display: flex;
    padding: 20px 19px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.activites-card .card-title{
    margin: 0;
}

/****** Footer styles ***********/
footer {
    margin: 0 50px 0 50px;
    width: 1340px;
    height: 163px;
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    background: var(--grey, #F2F2F2);
}

footer ul {
    margin: 0;
    list-style: none;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    flex: 1 0 0;
    align-self: stretch;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) and (min-width: 320px) {
    body {
            width: 100%;
            /* Redimensionner le corps à 100% de la largeur de l'écran */
            gap: 30px;
            justify-items: stretch;
            /* Réduire l'espacement entre les éléments pour l'affichage mobile */
        }

    header {
        flex-direction: column;
        /* Afficher les éléments du header en colonne pour l'affichage mobile */
        align-items: center;
        /* Centrer horizontalement le contenu du header */
        gap: 0;
        /* Réduire l'espacement entre les éléments du header pour l'affichage mobile */
        height: auto;
        /* Ajuster la hauteur du header en fonction du contenu */
    }

    .logo {
        align-items: center;
        /* Centrer horizontalement le logo */
        padding: 30px;
        /* Réduire le padding du logo pour l'affichage mobile */
    }

    nav {
        width: 100%;
    }

    nav ul {
        /* Ajuster la largeur du menu de navigation à 100% de la largeur de l'écran */
        width: 100%;
        height: auto;
        padding: 0;
        /* Supprimer le padding du menu de navigation pour l'affichage mobile */
        gap: 15px;
        /* Réduire l'espacement entre les éléments du menu de navigation pour l'affichage mobile */
        margin-bottom: 15px;
    }

    nav ul li {
        justify-content: center;
        /* Centrer les éléments du menu de navigation horizontalement */
    }

    nav ul li a:hover {
        border-top: none;
        /* Supprimer la bordure du haut pour l'affichage mobile */
        border-bottom: 2px solid #0065fc;
        /* Ajouter la bordure du bas pour l'affichage mobile */
        padding-bottom: 15px;
        /* Ajouter du padding en bas pour maintenir l'espace entre le texte et la bordure */
    }
    
    main {
        padding: 0px;
    }

    .info-group {
        padding: 0px 20px;
        /* Réduire le padding pour s'adapter à l'affichage mobile */
    }

    .searchBar {
        align-self: stretch;
    }

    .searchBar form {
        gap: 0;
    }

    .searchBar form button {
        color: transparent;
        /* Masquer le texte "Rechercher" */
        display: inline-flex;
        width: 49px;
        gap: 10px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        /* Ajouter une ombre au bouton */
    }

    .searchBar form button i {
        visibility: visible;
        /* Afficher l'icône */
        color: #FFFFFF;
        width: 17px;
        height: 17px;
    }
    
    .filterBar {
        width: 100%;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
        align-self: stretch;
    }
    
    .filterBar .title-filter {
        display: flex;
        width: 100%;
        align-items: flex-start;
    }

    .filterBar button {
        font-size: 14px;
        display: flex;
        height: 42px;
        padding: 4px 19px;
        align-items: center;
        gap: 10px;
        flex: 1 0 0;
    }

    .infoBar {
        width: 100%;
    }

    .hebergements-and-populaires {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: flex-start;
            gap: 15px;
        }

    .hebergements-and-populaires section {
        border-radius: 0px;
        padding: 30px 20px;
    }
    
    .populaires, .hebergements {
        width: 100%;
        margin-top: 0;
    }
    
    .populaires-cards, .hebergements-card {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
    }
    
    .populaires-cards .card, .hebergements-card .card {
            width: 100%;
            margin-top: 15px;
            display: flex;
            height: 146px;
            padding-right: 0px;
        }
        
        .populaires-cards img {
            height: 100%;
            flex: 1 0 0;
        }

        .populaires-cards .card-content {
            padding: 10px 5px 5px 15px;
            align-items: flex-start;
            gap: 24px;
            align-self: stretch;
        }

        .populaires-cards .card-title, .hebergements-card .card-title {
            font-size: 14px;
        }
        
        .populaires-cards .card-subtitle, .hebergements-card .card-subtitle {
            font-size: 13px;
        }
    }